@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definindo cores padrão */
:root {
  --gold: #D4AF37;
  --dark: #0f0f0f;
}

/* Aplicando no body */
html,
body {
  @apply bg-dark text-gold min-h-screen m-0 p-0;
  font-family: 'Segoe UI', sans-serif;
}

/* Estilizando a página */
body {
  background-color: var(--dark);
  color: var(--gold);
}